.row{
    margin: 0!important;
}
.product-container{
    
    padding: 20px;
    background-color: #e6e6fa;
    border-radius: 5px;

}

.cart-container{
    padding: 10px;
      background-color: #e6e6fa;
      border-radius: 5px;
   
}
.cart-modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.cart-modal .img-section{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.cart-modal .img-section img{
    width: 90px;
 
}
.cart-modal .cart-details{
    font-size: 13px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    align-items: flex-start;
}

.product-size-title{
    font-size: 30px;
   
}