.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 8px;
    box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.75);
    /* border-bottom: 1px solid grey; */
}
.img-section{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.img-section img{
    width: 90px;
 
}
.cart-details{
    font-size: 13px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-icon{
   font-size: 25px;
}